.row
  .span12
    %form(action="/solve" method="POST" style="margin: 0 auto; width: 40em")
      %fieldset
        %legend 
          %small.hint.hidden-phone type item names, separate with commas
          I want to craft...
        %input#solve(name="items" placeholder="type item names" style="width: 30em")
        %span.help-block(style="text-align: center")
          %small
            %a.toggle-more more options...
      %fieldset.more-options(style="display:none")
        .row
          .span2
            %label Exclude machines
            - all_machines.sort.each do |name|
              %label.checkbox
                %input(name="forbid_machine[]" value=name type="checkbox")
                = name
          .span2
            %label Exclude mods
            - recipe_counters.each do |name, count|
              %label.checkbox
                %input(name="exclude_cluster[]" value=name type="checkbox")
                = I18n.t("clusters.#{name}")

      %span.help-block
        Examples:
        %i.example quantum body armor,
        %i.example induction furnace,
        %i.example retriever
      %button.btn.btn-primary.btn-large.btn-block(type="submit" style="width: 10em") Explain!
%script(src="/suggestions.js" type="text/javascript")
:javascript
  $(function() {
    $('.toggle-more').click(function() {
      $('.more-options').show();
      $(this).hide();
    })
    $('.example').click(function() {
      var itemname = $(this).text().replace(',', '');
      $('option[value="'+itemname+'"]').attr('selected', true);
    });
    $('#solve').autocomplete({
      lookup: suggestions,
      delimiter: /(?:\*\d+)?,\s*/,
      minChars: 2
    })
  })

